<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landin Page</title>
    <link rel="stylesheet" href="css/index.css">
    <link rel="shortcut icon" href="img/logo.png" type="image/x-icon">
    <!-- libreria iconos -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <!-- libreria menu hamburguesa -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
        integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <header>
        <div class="container-nav">
            <div class="bubbles">
                <span style="--i:11;"></span>
                <span style="--i:12;"></span>
                <span style="--i:24;"></span>
                <span style="--i:10;"></span>
                <span style="--i:14;"></span>
                <span style="--i:23;"></span>
                <span style="--i:18;"></span>
                <span style="--i:16;"></span>
                <span style="--i:19;"></span>
                <span style="--i:20;"></span>
                <span style="--i:22;"></span>
                <span style="--i:25;"></span>
                <span style="--i:18;"></span>
                <span style="--i:21;"></span>
                <span style="--i:15;"></span>
                <span style="--i:13;"></span>
                <span style="--i:26;"></span>
                <span style="--i:17;"></span>
                <span style="--i:13;"></span>
                <span style="--i:28;"></span>

            </div>
            <nav>
                <ul class="nav-bar">
                    <li class="logo">
                        <a href="#">
                            <img src="img/marca/woodcore-logo-proyecto.png" alt="logo">
                        </a>
                    </li>
                    <input type="checkbox" id="check">
                    <span class="menu">
                        <li><a href="#funcionalidades">Funcionalidades</a></li>
                        <li><a href="#nosotros">Nosotros</a></li>
                        <li><a href="#contactanos">Contacto</a></li>
                        <li><a href="/login">Iniciar sesión</a></li>
                        <li><a href="/login">Registrarse</a></li>
                        <label for="check" class="close-menu"><i class="fas fa-times"></i></label>
                    </span>
                    <label for="check" class="open-menu"><i class="fas fa-bars"></i></label>
                </ul>
            </nav>
            <section class="textos-header">
                <h1>La mejor forma de Gestionar tus proyectos!!</h1>
                <br><br>
                <div class="btn-main-content">
                    <a href="/login">Comenzar</a>
                </div>
            </section>

        </div>
    </header>
    <main>
        <section class="about-services" id="funcionalidades">
            <div class="contenedor">
                <h1 class="titulo">Funcionalidades</h1>
                <div class="servicio-cont">
                    <div class="servicio-ind">
                        <img src="img/proyectos.png" alt="">
                        <br><br><br><br>
                        <h3>Creacion de proyectos</h3>
                        <p>Crea proyectos de manera eficiente para gestionar y organizar el desarrollo de software.</p>
                        <br>
                        <div class="btn-main-content">
                            <a href="#card-2">Ver mas</a>
                        </div>
                    </div>

                    <div class="servicio-ind">
                        <img src="img/image2pdf.png" alt="">
                        <br><br><br>
                        <h3>Generación reportes en PDF</h3>
                        <p>Genera reportes en pdf para conocer la idea del proyecto de manera detallada.</p>
                        <br>
                        <div class="btn-main-content">
                            <a href="#card-1">Ver mas</a>
                        </div>
                    </div>

                    <div class="servicio-ind">
                        <img src="img/dashboard.jpg" alt="">
                        <br><br><br>
                        <h3>Creacion de tareas</h3>
                        <p>Muestra las tareas en columnas (Por hacer, En progreso, Hecho).
                            Esto facilita el seguimiento del flujo de trabajo y la identificación de bloqueos</p>
                        <br>
                        <div class="btn-main-content">
                            <a href="#card-3">Ver mas</a>
                        </div>
                    </div>
                </div>

            </div>
        </section>
    </main>

    <!-- info creacion de proyectos y tareas -->
    <h2 class="more-funcion" >¡Conoce mas funcionalidades que te ofrecemos!</h2>
    <section class="more-infor" id="info-items">
    
        <br><br>
    
        <div class="card">
            <div class="face front">
                <img src="img/proyectos.png">
            </div>
        
            <div class="face back">
                    <h3>Gestión de Proyectos</h3>
                    <p>Permite organizar el trabajo en sprints cortos, 
                        definir tareas y asignarlas a los miembros del equipo de manera clara y efectiva.</p>
                <div class="link"><a href="/login">¡Pruebalo gratis!</a></div>
            </div>
        </div>
                
        <div class="card">
            <div class="face front">
                <img src="img/imagepdf.png">
            </div>
        
            <div class="face back">
                    <h3>Generación de PDF</h3>
                    <p>Genera reportes en PDF para facilitar la comunicación, seguimiento 
                        y toma de decisiones en la gestión ágil de proyectos.
                        </p>
                <div class="link"><a href="/login">¡Pruebalo gratis!</a></div>
            </div>
        </div>    
    
        <div class="card">
            <div class="face front">
                <img src="img/proyectos.png">
            </div>
        
            <div class="face back">
                    <h3>Gestión de tareas </h3>
                    <p>Divide el proyecto en tareas más pequeñas, asigna responsables y establece plazos específicos.</p>
                <div class="link"><a href="/login">¡Pruebalo gratis!</a></div>
            </div>
        </div>
    </section>
    

    <!-- Nosotros -->
    <section id="nosotros" class="more-info2">
        <h2>Sobre Nosotros</h2>
        <p>
            Bienvenidos a <strong>Woodcore Management</strong>, la solución integral para la gestión de proyectos y tareas.
            Nuestra plataforma está diseñada para agilizar flujos de trabajo, apoyar metodologías ágiles y optimizar la organización en empresas de todo tipo.
        </p>
        <p>
            Ya sea que lideres un equipo pequeño o una gran empresa, <strong>Woodcore Management</strong> te proporciona las herramientas necesarias
            para mantener el control de tus proyectos, tareas y procesos, todo en un solo lugar.
        </p>
        
        <div id="botonconocer" class="btn-main-content" >
            <a href="/login">Conoce más</a>
            
        </div>
    
    </section>
    
    

    <!-- Footer Contacto -->
    <div class="container" id="contactanos">
        <div class="footer-row">
            <div class="logo">
                <figure>
                    <a href="#">
                        <img src="img/marca/woodcore-logo-proyecto.png" alt="logo empresa.">
                    </a>
                </figure>
            </div>
            <div class="footer-links">
                <h4>Compañia</h4>
                <ul>
                    <li><a href="#">Nosotros</a></li>
                    <li><a href="#">Nuestras funcionalidades</a></li>
                    <li><a href="#">Politica de privacidad</a></li>
                </ul>
            </div>
            <div class="footer-links">
                <h4>Ayuda</h4>
                <ul>
                    <li><a href="#">Preguntas frecuentes</a></li>
                    <li><a href="#">Guias de uso</a></li>
                    <li><a href="#">Actualizaciones y noticias</a></li>
                </ul>
            </div>
            <div class="footer-links">
                <h4>Comunicate con nosotros</h4>
                <div class="social-link">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-linkedin"></i></a>
                </div>
            </div>
        </div>
    </div>


<!--script pestañas de funciodalidades-->
<script src="/js/prueba.js">
</script>



</body>

</html>